# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
.venv/

# CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
_deps/

# C++
*.d
*.o
*.obj
*.ilib
*.run
*.gcda
*.gcno
*.gcov

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# Custom
test_output/
# *.txt  <-- Removed to support CMakeLists.txt
