# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.mypy_cache
.ruff_cache
# Poetry
.venv/

# CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
_deps/
Makefile

# C++
*.d
*.o
*.obj
*.ilib
*.run
*.gcda
*.gcno
*.gcov
*.a
*.dylib

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*
Testing/
tests_cpp/velesquant_tests
tests_cpp/*_tests.cmake
tests_cpp/*_include.cmake
tests_cpp/cmake_test_discovery_*.json

# Custom
test_output/
# *.txt  <-- Removed to support CMakeLists.txt
build_tests/
build_coverage/
build_debug/
build_core/
.cache
.agent